* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    overflow-x: hidden;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    height: 20vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    /* box-shadow: 5px 5px 5px 1px rgb(223, 222, 222); */
}

header img {
    height: auto;
    height: 15vh;
    width: 25vw;
}

nav {
    display: flex;
    flex-direction: column;
    width: 70vw;
}

.t-nav {
    background: #4D8F6D;
}

.t-nav ul {
    display: flex;
    justify-content: end;
}

.t-nav a {
    color: white;
    transition: ease-in-out 0.1s;
}

.t-nav a:hover {
    color: rgb(222, 222, 222);
    transition: ease-in-out 0.1s;
}

.t-nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
}

/* bottom nav */
.b-nav ul {
    font-size: large;
    display: flex;
    justify-content: end;
}

.b-nav a {
    color: black;
    transition: ease-in-out 0.1s;
}

.b-nav a:hover {
    color: #0351fa;
    transition: ease-in-out 0.1s;
}

.b-nav li {
    padding-top: 10px;
    padding-bottom: 10px;
    margin-right: 40px;
}

.hero-section {
    height: 90vh;
}

.hero-section div {
    padding-left: 30px;
    padding-top: 100px;
}

.hero-section h1 {
    color: white;
    font-family: 'Poppins', 'Nunito', 'Montserrat', Arial, sans-serif;
    font-weight: 600;
    font-size: 60px;
}

.hero-section button {
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    padding: 20px 40px;
}

.drop-down-content {
    background: white;
    padding-left: 20px;
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3;
    width: 15vw;
}

.drop-down-menu {
    position: relative;
}

.drop-down-menu:hover .drop-down-content {
    display: flex;
    flex-direction: column;
}

.hero-section video {
    width: 100%;
    height: 90vh;
    position: absolute;
    object-fit: cover;
    z-index: 1;
}

.hero-text {
    z-index: 2;
    position: relative;
}

/* herro section 2 */
.hero-section-2 {
    width: 100%;
    height: 100vh;
}

.cards {
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin-top: -100px;
}

.card-1 {
    background: #1B728F;
}

.card-2 {
    background: #F4B740;
}

.card-3 {
    background: #4E8F6A;
}

.card-1,
.card-2,
.card-3 {
    color: white;
    width: 300px;
    height: 160px;
    padding: 10px 40px;
    font-size: 30px;
    font-family: serif;
    text-align: center;
    z-index: 2;
    align-items: center;
    display: flex;
    transition: ease-in-out 0.2s;
    justify-content: center;
}

.card-1:hover,
.card-2:hover,
.card-3:hover {
    scale: 1.03;
    border: 3px solid white;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.hero-section-2-content {
    display: flex;
    height: 120vh;
    padding: 20px;
    gap: 30px;
    background: linear-gradient(90deg,
            #e68b6b 0%,
            #eb9e5a 50%,
            #f2ae42 100%);
    margin-top: 80px;
    color: white;
}
.hero-section-2-content h1{
    font-size: 45px;
    font-weight: 10;
}
.hero-section-2-content p{
    font-size: 20px;
}
.hero-section-2-text{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 20px 60px;
}
.hero-section-2-content button{
    border: none;
    font-family: serif;
    background: white;
    padding: 16px 20px;
    width: 200px;
    color: #eb9e5a ;
    font-size: 20px;
    border: 2px solid white;
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.hero-section-2-content button:hover{
    background: #eb9e5a ;
    color: white;
    transition: ease-in-out 0.2s;
}
.video-wrapper {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}